:root {
    --blue: #1e90ff;
    --green: rgb(74, 183, 116);
    --pink: rgb(221, 152, 195);
    --grey: rgb(204, 204, 204);
    --darkgrey: rgb(129, 129, 129);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%;
    overflow-y: scroll;
    scrollbar-color: var(--green) var(--darkgrey);
}

body {
    background-color: var(--grey);
    font-family: dosis;
}

@font-face {
    font-family: dosis;
    src: url(dosis.ttf);
}

p{
    max-width: 60ch;
    text-align: center;
}

a{
    text-decoration: none;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    color: var(--green);
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-timing-function: linear;
    transition: transform 0.5s, color 0.5s;
    text-shadow: 4px, 4px, 4px black;
}

h1:hover{
transform: translateY(0.25rem);
color: var(--pink);
}

li {
    list-style: none;
}

canvas {
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
  }

:target {
    outline: 3px solid var(--pink);
}

*,
*::after,
*::before {
    box-sizing: border-box;
   /* outline: #750b0b solid 3px;*/
    scroll-padding-top: 70px;
}

*:focus-visible {
    outline: none;
}

li, p, textarea {
    overflow-wrap:break-word ;
}

.row {
    text-align: center;
}



.colp{
width: 33vw;
}

@media screen and (max-width: 1100px) {
   .colp {
    width: 100vw;
    margin: 0;
   }
   .hideatobig{
    display: none;
   }
}



.place form {
    margin-left: auto;
    margin-right: auto;
}

.place input {
    font-size: 3rem;
    background-color: var(--grey);
}

.highlight {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--grey);
    border: var(--green) solid 3px;
    width: 30vw;
    min-width: 332px;
    border-radius: 5px;
}

.highlight > img{
    width: 25vw;
}

.hidden {
    font-size: 3rem;
    border: 4px solid var(--green);
    background-color: var(--darkgrey);
    text-align: center;
    margin: 20px 20px 20px 20px;
    box-shadow: 12px 12px 6px rgb(105, 105, 105);
    border-radius: 5px;
}

.hidden a{
    font-size: 4rem;
    color: #1e90ff;
}

#img1 { display: block;
    margin-left: 0%;
    margin-right: 90%;
    width: 30%;
    height: 30%;
    border: 4px solid var(--grey);
    background-color: var(--grey);
}

.canvashtml{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 98vw;
    height: 98vh;
    box-shadow: 12px 12px 6px rgb(105, 105, 105);
    border-top: var(--green) solid 3px;
    border-bottom: var(--green) solid 3px;
    border-radius: 5px;
    transform: translateX(-11.5px);
}

.coolpaint {
    width: 100vw;
    height: 100vh;
    transform: translateX(-23px);
}

.timeset{
    width: 30ch;
    background-color: var(--grey);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
    border: var(--green) solid 3px;
}

#jokes {
    font-size: 3rem;
}

.display-3 {
    font-size: 10rem;
    text-align: center;
}

.s {
    height: 12rem;
}

.a {
    text-align: center;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.a li {
    text-align: left;
    background-color: var(--grey);
}

.col-md-4 iframe {
    width: 100%;
    min-height: 400px;
    margin: 1px 1px 1px 1px;
}

#textareaj {
    resize: none;
    background-color: white;
    border: 3px solid var(--darkgrey) !important;
    border-radius: 6px;
    width: 50vw;
    height: auto;
    min-height: 300px;
    min-width: 300px;
    font-size: 3rem;
    margin: 10px;
}

#iframemc {
    min-height: 850px;
    border: 0;
}

#todo > li a {
    font-size: 2.5rem;
}

#todo > ul{
    background-color: var(--grey);
    margin-top: 0!important;
    margin-bottom: 0!important;
}

#dropdownMenuButton1{
    color: black;
    background-color: var(--grey);
    border: var(--pink);
}

.firsttodolist{
    background-color: var(--green) !important;
}

#out li {
    font-size: 3rem;
}

#temp {
    height: 100%;
    font-size: 3rem;
}

#untis {
    min-height: 900px;
}

.a img {
    width: 100%;
}


.btn-primary {
    background-color: var(--darkgrey) !important;
    color: black !important;
    border-radius: 6px !important;
    margin: 10px !important;
}

/*NAVBAR*/

#navbar {
    overflow: hidden;
    z-index: 10;
    height: 8rem;
    background-color: var(--darkgrey);
    border-bottom: 3px solid var(--pink);
  }
  
#navbar a {
    float: left;
    display: block;
    color: var(--green);
    text-align: center;
    padding: 0.75rem;
    margin-top: -1rem;
    margin-left: 0.5rem;
    text-decoration: none;
    font-size: 5rem;
    transition-timing-function: linear;
    transition: transform 0.5s, color 0.5s;
}

#navbar a:hover{
transform: translateY(0.25rem);
color: var(--pink);
}

#icon {
    object-fit: contain;
    background-color: var(--darkgrey);
    border: 3px solid var(--darkgrey);
    border-radius: 5px;
    height: 5rem !important;
    width: auto !important;
    margin: 10px;
    float: right;
}
  
.sticky {
    position: absolute;
    top: 0;
    width: 100%;
}

#einsachtsieben {
    margin-right: 50px;
}

/*Portfolio*/
.portfolio1, .portfolio2{
    border: 3px solid var(--darkgrey);
    border-radius: 5px;
    height: auto;
    margin: 50px;
    background-size: 600% 600%;
    background-image: linear-gradient(-45deg, rgb(204, 204, 204), rgb(182, 180, 180), rgb(158, 157, 157), rgb(129, 129, 129)  );
    background-position: -2px 0;
    animation: gradiantanimate 12s linear infinite alternate;
    box-shadow: 12px 12px 6px var(--darkgrey);
    font-size: 2.2rem;
    min-height: 55rem;

}

.portfolio2{
    max-height: 59rem;
}

.portfolio2 img{
    object-fit: contain;
    max-height: 10rem;
    height: 100% !important;
    padding: 1rem;
    background-color: white;
    width: 10rem;
    border: 3px solid var(--darkgrey);
    border-radius: 5px;
}

#thumbnailimg{
    object-fit: contain;
    max-height: 50rem;
    height: 40rem !important;
    padding: 1rem;
    width: auto;
    border: 3px solid var(--darkgrey);
    border-radius: 5px;
}



table{
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
 }

#p1{
    background-color: #e4a126e4;
    font-weight: bold;
    font-size: 2rem;
    border: 3px solid #ac791ce4;
}
#p2{
    background-color: #264de4;
    font-weight: bold;
    font-size: 2rem;
    border: 3px solid #1c359b;
}
#p3{
    background-color: #e75000;
    font-weight: bold;
    font-size: 2rem;
    border: 3px solid #9e3700;
}
#p4{
    background-color: #0868ac;
    font-weight: bold;
    font-size: 2rem;
    border: 3px solid #05436e;
}
#p5{
    background-color: #8094d2;
    font-weight: bold;
    font-size: 2rem;
    border: 3px solid #57658f;
}

#p1:hover, #p2:hover,#p3:hover,#p4:hover,#p5:hover{
transform: scale(1.04);

}


/*animation*/
@keyframes gradiantanimate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}