@import "variabels";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
  overflow-y: scroll;
  scrollbar-color: $green $darkgrey;
}

body {
  background-color: $grey;
  font-family: dosis;
}

:target {
  outline: 3px solid $pink;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-padding-top: 70px;
}

*:focus-visible {
  outline: none;
}

@font-face {
  font-family: dosis;
  src: url(dosis.ttf);
}
.dosis {
  font-family: dosis;
}

@mixin center {
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

p,
label {
  max-width: 60ch;
  text-align: center;
  font-size: $text-300;
}

a {
  text-decoration: none;
}

input[type="text"] {
  margin: 0.25rem;
  font-size: $text-300;
}

h1 {
  font-size: $text-700;
  text-align: center;
  color: $green;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-timing-function: linear;
  transition: transform 0.5s, color 0.5s;
  text-shadow: 4px, 4px, 4px black;
  :hover {
    color: $pink;
  }
}

h2,
a.big {
  @extend h1;
  font-size: $text-500;
  :hover {
    color: $pink;
  }
  
}

h3,
a.small {
  @extend h1;
  font-size: $text-300;
  :hover {
    color: $pink;
  }
}

li,
p,
textarea,
ul {
  overflow-wrap: break-word;
}

ul {
  list-style-type: circle;
}

li {
  font-size: $text-600;
  color: $green;
  width: fit-content;
  transition-timing-function: linear;
  transition: transform 0.5s, color 0.5s;
  text-shadow: 4px, 4px, 4px black;
  :hover {
    color: $pink;
  }
}

table {
  font-size: $text-300;
  padding: $text-25;
  caption-side: bottom;
  border-collapse: collapse;
}

/*classes*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: fit-content;
  width: fit-content;
  div {
    display: block;
    height: fit-content;
    width: fit-content;
  }
}

.btn {
  cursor: pointer;
  background-color: $green;
  border: $text-25 solid black;
  border-radius: 5px !important;
  color: black;
  font-size: $text-500;
  border-radius: $text-10;
  margin: $text-25;
}

.btn:hover {
  transform: translateY(-$text-10);
  transform: scale(0.2rem, 0.2rem);
  background-color: $light-green !important;
}

.btn-primary {
  @extend .btn;
  border-color: $purple !important;
  font-size: $text-700 !important;
}

.btn-primary:hover {
  transform: translateY(-$text-10);
  transform: scale(0.2rem, 0.2rem);
  border-color: $pink !important;
}

.left-align {
  text-align: left;
  padding-left: 0;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}

.flex-container > div {
  margin-left: $text-300;
  margin-right: $text-300;
}


/*MASCOT STYLES*/

.mascot {
  position: absolute;
  top: 55px;
  @media (max-width: $max-width) {
    display: none !important;
  }
}

.overlap {
  width: 20px;
  display: grid;
  justify-items: start;
  align-items: start;
  transform: rotate(180deg);
  margin-left: 800%;
}

.overlap>* {
  grid-column-start: 1;
  grid-row-start: 1;
}

.overlap img {
  width: 10vw;
}

.overlap #eye {
  width: 25%;
  height: 25%;
}