#navbar {
  overflow: hidden;
  z-index: 10;
  height: 8rem;
  @media (max-width: $max-width) {
    height: fit-content !important;
  }
  background-color: $darkgrey;
  border-bottom: 3px solid $pink;
  a {
    background-color: $darkgrey;
    float: left;
    height: calc(6rem);
    display: block;
    color: $green;
    text-align: center;
    padding: 0.25rem;
    margin-left: 0.5rem;
    text-decoration: none;
    font-size: 4rem;
    transition-timing-function: linear;
    transition: transform 0.5s, color 0.5s;
    border-left: 3px solid $purple;
    border-right: 3px solid $purple;
    border-bottom: 3px solid $purple;
  }
  a:hover {
    transform: scale(1.075);
    color: $pink;
  }
  #icon {
    @media (max-width: $max-width) {
      display: none !important;
    }
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5rem;
    align-items: center;
    img {
      height: 6rem;
      margin: 1rem;
      object-fit: contain;
    }
  }
}


.sticky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
