$grey: rgb(80, 80, 80);
$darkgrey: rgb(41, 41, 41);
$green: hsl(109, 27%, 39%);
$light-green: hsl(109, 56%, 56%);
$pink: hsl(307, 25%, 66%);
$purple: hsl(306, 50%, 35%);
$yellow: hsl(61, 74%, 59%);
$babyblue: hsl(174, 62%, 55%);

$text-10: 0.1rem;
$text-25: 0.25rem;
$text-50: 0.5rem;
$text-100: 1rem;
$text-200: 2rem;
$text-300: 3rem;
$text-400: 4rem;
$text-500: 5rem;
$text-600: 6rem;
$text-700: 7rem;
$text-800: 8rem;
$text-900: 9rem;
$text-1000: 10rem;

$max-width: 675px;
